.heart {
  position: absolute;
  top: 15px;
  left: 15px;
  cursor: pointer;
}

.main {
  &_colors {
    margin-top: 1rem;
    font-weight: 700;
    font-style: oblique;
  }
  &_shopping {
    @include flexBox(space-between, 100%);
    flex-wrap: wrap;

    &_items {
      cursor: pointer;
      position: relative;
      @include flexBox(space-around, 100%);
      width: 285px;
      flex-direction: column;
      border: 1px solid rgba($color: #000000, $alpha: 0.1);
      border-radius: 20px;
      box-shadow: 1px 3px 1px rgba($color: #0c0c0c, $alpha: 0.1);
      padding: 0 25px 0 25px;
      margin: 15px auto;
      transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
      &:hover {
        box-shadow: 1px 3px 10px rgba($color: #0c0c0c, $alpha: 0.1);
        transform: translateY(-5px);
      }

      &_img {
        img {
          width: 200px;
        }
      }
    }
  }

  &_description {
    @include flexBox(center, 100%);
    width: 100%;
    flex-direction: column;
    &_content {
      width: 100%;
      @include flexBox(center, auto);
      ul {
        overflow: auto;
        width: 100%;
        @include flexBox(center, 100%);
        li {
          position: relative;
          width: 40px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          margin: 0 0.2rem;
          box-shadow: inset 0 0 8px rgba($color: #000000, $alpha: 0.1),
            0 0 5px rgba($color: #000000, $alpha: 0.1);
          cursor: pointer;
          overflow: hidden;

          span {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
          }
          &:hover {
            span {
              animation: animateSize 0.4s linear 1;
              animation-fill-mode: forwards;
              @keyframes animateSize {
                0% {
                  top: 0;
                  left: 50%;
                }
                20% {
                  top: -100%;
                  left: 50%;
                }
                40% {
                  top: -100%;
                  left: 350%;
                }
                60% {
                  top: 150%;
                  left: 50%;
                }
                100% {
                  top: 0;
                  left: 50%;
                }
              }
            }
          }

          &.active {
            box-shadow: 0 8px 10px rgba(128, 255, 0, 0.233);
            border: 1px solid chartreuse;
          }
        }
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }

  &_shipping {
    width: 100%;
    margin: 1rem 0;
    @include flexBox(space-between, 100%);
  }
}

.main_shipping_add {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 9rem;
  height: 2.5rem;
  background-color: #f1f1f1;
  border-radius: 0.5rem;
  span {
    &:nth-child(1) {
      background-color: #fff;
      padding: 5px 10px;
      border-radius: 0.5rem;
    }
  }
}
