.shop_cart {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: none;
  border-radius: 50%;
  padding: 10px;
  width: 60px;
  height: 60px;
  bottom: 20px;
  right: 27px;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: -webkit-gradient(linear, left top, right top, from(#f8e0e4), to(#ffe8dc));
  background: linear-gradient(to right, #f8e0e4, #ffe8dc);
  cursor: pointer;
}

.shop_cart img {
  width: 35px;
}

.shop_cart_active {
  opacity: 1;
  visibility: inherit;
}

.shop_number {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: crimson;
  color: #ffffff;
  text-align: center;
  line-height: 30px;
  top: -8px;
  right: -5px;
  border-radius: 50%;
}

.drawer {
  position: fixed;
  right: -100%;
  top: 0;
  width: 365px;
  background-color: #ffffff;
  height: 100%;
  z-index: 15;
  -webkit-box-shadow: -2px 0 10px rgba(0, 0, 0, 0.4);
          box-shadow: -2px 0 10px rgba(0, 0, 0, 0.4);
  padding: 0 15px;
  -webkit-transition: right 0.4s;
  transition: right 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 540px) {
  .drawer {
    width: 100%;
  }
}

.drawer.active {
  right: 0;
}

.drawer_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: none;
  margin-top: 10px;
}

.drawer_header img {
  width: 25px;
  cursor: pointer;
}

.drawer_img img {
  width: 90px;
}

.drawer_cart {
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 40px 0;
  height: 80%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
}

.drawer_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  height: 120px;
  margin: 8px 0;
  border-radius: 10px;
}

.drawer_text {
  margin: 0 calc(10px);
}

.drawer_close {
  cursor: pointer;
}

.drawer_close img {
  width: 20px;
}

.drawer_paybox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0;
}

.drawer_paysum {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.drawer_paysum span {
  position: absolute;
  bottom: 0;
  left: 25px;
  width: 65%;
  border-bottom: 2px dotted black;
}

.drawer_btn button {
  width: 100%;
  padding: 5px 0;
  border: none;
  outline: none;
  background: -webkit-gradient(linear, left bottom, left top, from(#47cd5f), to(#9affad));
  background: linear-gradient(to top, #47cd5f, #9affad);
  color: #fff;
  border-radius: 12px;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.drawer_btn button:hover {
  -webkit-box-shadow: 0 0 8px rgba(71, 205, 95, 0.3);
          box-shadow: 0 0 8px rgba(71, 205, 95, 0.3);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  padding: 0 20px;
  z-index: 10;
  background-color: #fff;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.header_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header_logo img {
  width: 45px;
  margin-right: 10px;
}

.header_subtitle p {
  opacity: 0.5;
}

@media screen and (max-width: 604px) {
  .header_logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
  .header_logo img {
    width: 35px;
    margin-right: 10px;
  }
  .header_subtitle h1 {
    font-size: 15px;
  }
  .header_subtitle p {
    font-size: 15px;
    opacity: 0.5;
  }
}

.nav .nav_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.nav .nav_list {
  margin-left: 8px;
}

.text::before {
  content: "";
  position: absolute;
  bottom: -20px;
  border-radius: 10px;
  width: 50px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 604px) {
  .text::before {
    bottom: -5px;
  }
}

.main__container {
  width: 100%;
  padding: 180px 0 0 0;
}

.main_text {
  margin: 0 20px 35px 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

@media screen and (max-width: 604px) {
  .main_text h1 {
    font-size: 20px;
  }
  .main_search input {
    width: 130px !important;
  }
}

.main_search {
  position: relative;
}

.main_search img {
  position: absolute;
  right: 10px;
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  cursor: pointer;
}

.main_search input {
  width: 280px;
  height: 40px;
  padding: 10px 30px 10px 8px;
  outline: none;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.heart {
  position: absolute;
  top: 15px;
  left: 15px;
  cursor: pointer;
}

.main_colors {
  margin-top: 1rem;
  font-weight: 700;
  font-style: oblique;
}

.main_shopping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main_shopping_items {
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 285px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  -webkit-box-shadow: 1px 3px 1px rgba(12, 12, 12, 0.1);
          box-shadow: 1px 3px 1px rgba(12, 12, 12, 0.1);
  padding: 0 25px 0 25px;
  margin: 15px auto;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.main_shopping_items:hover {
  -webkit-box-shadow: 1px 3px 10px rgba(12, 12, 12, 0.1);
          box-shadow: 1px 3px 10px rgba(12, 12, 12, 0.1);
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.main_shopping_items_img img {
  width: 200px;
}

.main_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main_description_content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
}

.main_description_content ul {
  overflow: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.main_description_content ul li {
  position: relative;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: 0 0.2rem;
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  overflow: hidden;
}

.main_description_content ul li span {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.main_description_content ul li:hover span {
  -webkit-animation: animateSize 0.4s linear 1;
          animation: animateSize 0.4s linear 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes animateSize {
  0% {
    top: 0;
    left: 50%;
  }
  20% {
    top: -100%;
    left: 50%;
  }
  40% {
    top: -100%;
    left: 350%;
  }
  60% {
    top: 150%;
    left: 50%;
  }
  100% {
    top: 0;
    left: 50%;
  }
}

@keyframes animateSize {
  0% {
    top: 0;
    left: 50%;
  }
  20% {
    top: -100%;
    left: 50%;
  }
  40% {
    top: -100%;
    left: 350%;
  }
  60% {
    top: 150%;
    left: 50%;
  }
  100% {
    top: 0;
    left: 50%;
  }
}

.main_description_content ul li.active {
  -webkit-box-shadow: 0 8px 10px rgba(128, 255, 0, 0.233);
          box-shadow: 0 8px 10px rgba(128, 255, 0, 0.233);
  border: 1px solid chartreuse;
}

.main_description_content ul::-webkit-scrollbar {
  display: none;
}

.main_shipping {
  width: 100%;
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.main_shipping_add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 11rem;
  height: 2.5rem;
  background-color: #f1f1f1;
  border-radius: 0.5rem;
}

.main_shipping_add span:nth-child(1) {
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 0.5rem;
}

.popup_cart {
  position: absolute;
  top: -200%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 26rem;
  max-height: 95vh;
  cursor: auto;
  padding: 2rem;
  overflow: auto;
  background-color: #fff;
  border-radius: 1.5rem;
  -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
  z-index: 10;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.popup_cart.active {
  top: 50%;
}

.popup_header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup_header p {
  font-size: 1.5rem;
}

.popup_header i {
  font-size: 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 0.4s ease-in-out;
  transition: -webkit-box-shadow 0.4s ease-in-out;
  transition: box-shadow 0.4s ease-in-out;
  transition: box-shadow 0.4s ease-in-out, -webkit-box-shadow 0.4s ease-in-out;
  -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
}

.popup_header i:hover {
  -webkit-box-shadow: inherit;
          box-shadow: inherit;
}

.popup_img {
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
  margin: 0.2rem 0;
}

.popup_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.popup_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin: 0.8rem 0;
}

.popup_payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup_payment .btn-success {
  color: #fff;
  background-color: #00c580;
  -webkit-box-shadow: 0 2px 10px #00c580;
          box-shadow: 0 2px 10px #00c580;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 75%;
  height: 3.5rem;
  font-size: 18px;
  font-weight: 700;
  white-space: nowrap;
  outline: none !important;
  border-radius: 0.875rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.popup_payment .btn-success:hover {
  background: #00c580cb;
}

.popup_counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 5.5rem;
  height: 3.5rem;
  margin-left: 1rem;
  overflow: hidden;
  background: #ededf2;
  border-radius: 0.875rem;
}

.popup_counter button {
  position: relative;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  background-color: #fff;
  border-radius: 0.375rem;
  margin: 0 8px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 20px;
  font-weight: 600;
}

.popup_counter button:hover {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 767.98px) {
  .popup_cart {
    position: relative;
    top: 200% !important;
    -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
    width: 100%;
    border-radius: 0;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
  }
  .popup_cart.active {
    top: 100% !important;
  }
  .popup_cart::before {
    content: "";
    position: absolute;
    top: 65px;
    z-index: 20;
    left: 0;
    max-width: 40px;
    height: 50px;
    border-radius: 1rem;
    background-color: red;
  }
  .popup_header {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 30px;
  }
  .popup_img {
    height: 60%;
    overflow: hidden;
    margin: 0.5rem 0;
  }
}

@media screen and (max-width: 767.98px) and (min-width: 504px) {
  .popup_cart {
    height: 60%;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.btn {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  right: 0;
  top: 200%;
  width: 100%;
  height: 100%;
  z-index: 14;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.overlay.active {
  opacity: 1;
  visibility: inherit;
  top: 0;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  overflow: hidden;
}

[class*="__container"] {
  max-width: 1220px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  [class*="__container"] {
    max-width: 970px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 940px) {
  [class*="__container"] {
    max-width: 750px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767.98px) {
  [class*="__container"] {
    max-width: none;
    margin: 0;
  }
}
/*# sourceMappingURL=style.css.map */