@import "components/all";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.btn {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

// ================== overlay =================

.overlay {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 14;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  &.active {
    display: inherit;
  }
}

// ================== wraper =================
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

[class*="__container"] {
  max-width: 1220px;
  margin: 0 auto;
  @media screen and (max-width: 1024px) {
    max-width: 970px;
    margin: 0 auto;
  }
  @media screen and (max-width: 940px) {
    max-width: 750px;
    margin: 0 auto;
  }
  @media screen and (max-width: 767.98px) {
    max-width: none;
    margin: 0;
  }
}
